<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>halo from user by id</title>
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
    <h1>userById</h1>
    <a href="/user/all/">back</a>
                <h2><%= userData.nama %></h2>
                <table>
                <thead>
                <tr>
                <td>
                id 
                </td>
                <td>
                nama
                </td>
                <td>
                email
                </td>
                <td>
                password
                </td>
                </tr>

                </thead>

                <tbody>
                <tr>
                <td>
                <%= userData.id %>
                </td>
                <td>
                <%= userData.nama %>
                </td>
                <td>
                <%= userData.email %>
                </td>
                <td>
                <%= userData.password %>
                </td>
                </tr>
                </tbody>
                </table>
    </body>
</html>
